<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="/frontend/assets/css/style.css">
</head>
<body>
    <h1>Lista de Pessoas</h1>
    <form action="/api/generate" method="get">
        <label for="count">Quantidade de pessoas para mostrar:</label>
        <input type="number" id="count" name="count" >
        <button type="submit">Atualizar</button>
    </form>
    <div class="people-list">
    </div>
</body>
</html>