<!DOCTYPE html>
<html>
<head>
  <title>Formulário de Pessoas</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Escolha quantas pessoas serão mostradas</h1>
    <form action="/" method="POST">
      <label for="count">Número de pessoas:</label>
      <input type="number" id="count" name="count" min="1" max="100" required>
      <button type="submit">Mostrar</button>
    </form>

    <% if (people.length > 0) { %>
      <h2>Lista de Pessoas</h2>
      <ul class="people-list">
        <% people.forEach(person => { %>
          <li class="person">
            <img src="<%= person.img %>" alt="<%= person.name %>">
            <div class="person-info">
                <h3><%= person.name %></h3>
                <p><%= person.description %></p>
            </div>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </div>
</body>
</html>